In [1]:
#import the libraries
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.Purchased.value_counts()

In [ ]:
#drop UserID Column
df.drop(columns=['User ID'],inplace=True)

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
# Using replace function to encode categorical column to numerical column
df['Gender'].replace({'Male':1, 'Female':0}, inplace=True)

In [ ]:
df.head()

In [ ]:
# Split the dataset in x and y
x=df.iloc[:,:3]
x

In [ ]:
y=df.Purchased

In [ ]:
y

In [ ]:
#Scaling
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()

In [ ]:
x_scaled=pd.DataFrame(scale.fit_transform(x))

In [ ]:
x_scaled.head()

In [ ]:
# Train and Test Split
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2, random_state=0)

In [ ]:
x_train.shape

In [ ]:
x_test.shape

In [ ]:
#Model building
from sklearn.linear_model import LogisticRegression

In [ ]:
lr=LogisticRegression()

In [ ]:
#fitting the model
lr.fit(x_train,y_train)

In [ ]:
#Prediction

In [ ]:
pred1=lr.predict(x_train)

In [ ]:
pred=lr.predict(x_test)

In [ ]:
pred

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
accuracy_score(y_train,pred1)

In [ ]:
accuracy_score(y_test,pred)

In [ ]:
confusion_matrix(y_test,pred)

0,0 True Positive (56) Prediction are correctly predicted (y_test Yes and pred is Yes)
1,0 False Negative (5) Actual Values are Yes but model predcted No (y_test is Yes and Pred is No)
0,1 False Positive (2)  Acual value is No but the model predicted Yes( y_test is No and pred is Yes)
1,1 True Negative (17) Actual value is No and model predicted No(y_test is No and Pred is No)

In [ ]:
print(classification_report(y_test, pred))